body{
    background-image: url(Worldmap.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-blend-mode: lighten;
    font-family: "PT Serif", sans-serif;

}

h1 {
    font-size: 70px;
}

h2 { 
    font-size: 50px;
}

#rules{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(236, 223, 150);
    width:400px;
    margin: auto;
}

img {
    height:50px;
    width: 50px;
    overflow: hidden;
}
/* p {
    font-size: 35px;
    text-decoration: underline;
    background-color: goldenrod;
    color: blue;
    border-radius: 1px;
} */

button {
    outline-color: rgb(3, 4, 4);
    background-color: red;
    width: 150px;
    height: 70px;
    font-size: medium;
    border-radius: 5%;
    border: 3px solid black;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    justify-content: center;
    }

button:hover {
        background-color: rgb(208, 20, 20);
}

.qmark:hover{
    background-color: rgb(126, 126, 130);
    opacity: 80%;
}

div{
    display: inline-flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#wrapper {
    display: block;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center; 
    justify-content: center;
    z-index: 9999;
  }

  #game-board {
    /* background-image: url(treasuremap.png); */
    display: flex;
    /* background-repeat: no-repeat; */
    width: 490px;
    height: 490px;
    /* border: 2px solid black; */
    border-radius: 5%;
    /* background-size: cover; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 0 auto; */
    overflow: hidden;
    font-size: 290%;
    
  }
  
  td{
    display: flexbox;
    border: 3px solid black;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    text-align: center;
    /* position: center; */
    padding: 45px;
    margin-left: auto;  
    margin-right: auto; 
    overflow: hidden; 
    cursor: pointer;
}

/* #chest{
    animation: chestAnimation 3s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; 
} */

/* @keyframes chestAnimation {
    0% {
        transform: scaleX(0.5);
        opacity: 0;
      }
    
      60% {
        transform: scaleX(1);
        opacity: 0;
      }
    
      100% {
        transform: scaleX(0.8);
      }
    } */